<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <form action=/registration method='POST'>
        Login:<br><input type='text' name='login'><br>
        First:<br><input type='text' name='first'><br>
        Second:<br><input type='text' name='second'><br>
        Age:<br><input type='number' name='age'><br>
        City:<br><input type='text' name='city'><br>
        Email:<br><input type='text' name='email'><br>
        Like bikes:<br><input type='text' name='like'><br>
        My bikes:<br><input type='text' name='my'><br>
        Password:<br><input type='password' name='password'><br>
        <input type='submit' value='Ok'>
    </form>
</head>
<body>

</body>
</html>